__pycache__/
*.py[cod]
build/
dist/
sdist/
wheels/
MANIFEST
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
.hypothesis/
.pytest_cache/
*.log
db.sqlite3
db.sqlite3-journal
.ipynb_checkpoints
__pypackages__/
.env
.venv
config.toml
state.toml
state.toml.lock
